/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
	height: 100%
}



.bgimg {
	/* Background image */
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/book.jpg");
	/* Full-screen */
	height: 95%;
	/* Center the background image */
	background-position: center;
	/* Scale and zoom in the image */
	background-size: cover;
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) */
	position: relative;
	/* Add a white text color to all elements inside the .bgimg container */
	color: white;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
	position: absolute;
	top: 0;
	left: 16px;
}
/* Position of the logo */
img {
    position: absolute;
    left: 16px;
    height: 100px;
    width: 80px;
    margin-top: 36px;
    margin-left: 1px;
}

/* Position text in the bottom-left corner */
.bottomleft {
	position: absolute;
	bottom: 0;
	left: 16px;
}

/* Position text in the middle */
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Style the <hr> element */
hr {
	margin: auto;
	width: 40%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
	
	.pb-1, .py-1 {
    padding-bottom: .25rem!important;
    background-color: black;
	}
	a {
    color: #1f92b5;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    font-style: inherit;
	}
	
	
	
	.card {
	width: 300px;
	}

	.nav-item .nav-link[disabled]:hover {
	}
	
	
	
	
	
	.md-stepper-horizontal {
	display:table;
	width:90%;
	margin:0 auto;
}

.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
padding: 1%;
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #999999;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left: 10%;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right: 10%;
}
.md-stepper-horizontal .md-step .md-step-circle {
  margin: 0 auto;
  text-align: center;
}
* {
        box-sizing: border-box;
      }

      *:active {
        outline:none;
      }

a.circle {
  position: relative;
width: 3em;
    height: 3em;
    content: counter(step);
    counter-increment: step;
    line-height: 3em;
   font-size: 1em;
    display: block;
  margin: 0 auto .7em auto;
text-align: center;
border-radius: 50%;
  border: 2px solid #072441;
    background-color: #072441;
color: #ffffff;
font-weight: bold;
  text-decoration: none;
}

a.circle:hover {
  background-color: #2cbfee;
}

a.circle:active {
  background-color: #2cbfee;
}

      #content {
        height:30%;
        width: 60%;
        text-align: center;
        margin: 0px auto;
      }

      main {
      display:inline-block;
        margin:0px auto;
        height:100%;
        width: 100%;
       text-align: center;
      }
      
      .page {
        display: none;
        background-color:#ffffff;
        padding: 2%;
        margin:0px auto;
        height: 100%;
        border: 1px solid #999999;
width: 90%;
        text-align: left;
      }
      
      .page h2 {
        margin:0px;
        color: #2cbfee;
      }
      
      .default {
        display:block;
      }
      
      :target {
        display:block
      }
      
      :target ~ .default {
        display:none;
      }


	
	
.form-control {
    display: block;
    width: 90%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
}
	
	.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

	div.results {
	text-align: -webkit-center;
}
	h1.buyBooks, h1.sellBooks {
	text-align: center;
}

	#searchfunc {
    align-content: center;
    text-align: -webkit-center;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	